html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.slider-wrap{
  position: relative;
  min-height: 650px;
  overflow-x: hidden;
  /* transform: translateX(-500px); */
}
.slider-wrap::-webkit-scrollbar{
  visibility: hidden;
}

.slider-main{    
    /* background: #000; */
    position:absolute;
    min-width: 100%;
    min-height:100%;
    display: flex;
    /* transition: all .4s; */
  }
  .slide-img{
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
  }
  .slided{
    transition:all 3s;
  }
  .item{
    width:430px;
    height:100%;
    position: relative;
    left:0;
    text-align:center;
    /* padding-top: 60px; */
    font-size: 4.5rem;
    margin: 10px 20px;
    transition:all 1s;
    /* color:white; */
    /* background: orange; */
    display:flex;
    flex-direction: column;
  }
  .slide-img{
   display: flex;
   flex:  0 0 90%;
   object-fit: cover;
  }
  .slide-link{
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    text-decoration: none;
    border: 1px solid #ccc;
    text-transform: uppercase;
    /* background: aqua; */
    color: #000;
  }
  .text{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    flex: 1;
  }
  
  .card{
    display:flex !important;
    height:100%;
    flex: 0 0 25% !important;
  }
  #item-1{
    background-color:orange;
  }
  #item-2{
    background-color:blue;
  }
  #item-3{
    background-color:yellow;
  }
  
  #item-4{
    background-color:red;
  }
  #item-5{
    background-color:aqua;
  }
  #item-6{
    background-color:yellow;
  }
  .arrow{
    height:20px;
    width:20px;
    background-color:green;
    position:absolute;
    top:15%;
    cursor:pointer;
  }
  .right-arrow{
    right:10px;
    
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }
  .left-arrow{
    left:10px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    
  }